*.nogit
torchswe/**/*.c
torchswe/**/*.cpp
torchswe/**/*.so
cases/**/*.png
cases/**/*.npz
cases/**/*.npy
cases/**/*.h5
cases/**/*.nc
cases/**/*.nc.aux.xml
cases/**/postprocessing.ipynb
cases/**/*.log
comparisons/geoclaw/**/*.data
comparisons/geoclaw/**/_output
comparisons/geoclaw/**/.output
comparisons/geoclaw/**/pyclaw.log
comparisons/geoclaw/**/*.bin
comparisons/geoclaw/**/*.o
comparisons/**/*.png
comparisons/**/*.asc
*.egg-info
build
dist
